<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <% include ../public/head.ejs %>
    <link rel='stylesheet' href="/extention/timepicker/bootstrap-datetimepicker.min.css"/>
    <script charset="utf-8" src="http://map.qq.com/api/js?v=2.exp&key=5YIBZ-F322X-G3D4K-ZJLFF-QVGT5-5DBYS&libraries=convertor"></script>
</head>

<body>
<h3>
    正在根据网络情况自动选择地图……
</h3>
<% include ../public/javascript.ejs %>
<script src="/extention/timepicker/bootstrap-datetimepicker.min.js"></script>
<script src="/javascripts/panel.bundle.js"></script>
<script>
    function ping(){
        $.ajax({
            url: 'https://maps.googleapis.com/maps/api/js',
            timeout: 3000,
            cache: false,
            //dataType: 'jsonp',
            success: function(result){
                location.replace("/panel/google")
            },
            error: function(result){
                location.replace('/panel/tencent');
            }
        });
    }
    ping();
</script>
</body>
</html>
